



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.open{
  background-color:  #559ee2; 
  border-radius: 12px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  
}

body{
  font-family: 'Baloo Tamma', cursive;
  background:  #61dafb;
}

h2{
  text-align: center;
  width: 100%;
  margin: 0px auto;
  color: #3e9df5;
  font-size: 80px;
  letter-spacing: 5px;
  top: 50%;
  position: absolute;
  margin-top: -190px;
  
  text-shadow: -1px -1px 0px #0413e6,
    3px 3px 0px #ffffff,
    6px 6px 0px #3f79bb;
}


html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#evernote-container {
  height: 100%;
  box-sizing: border-box;
}
.app-container {
  height: 100%;
  box-sizing: border-box;
}
.quill {
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 300px);
  float: left;
}
.ql-container {
  box-sizing: border-box;
  height: calc(100% - 42px);
  overflow-y: scroll;
}
.ql-editor {
  cursor: text;
}
.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}
.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}
